@charset "UTF-8";

.commonsetting-page {

    .bootstrap-switch-my-color {
        background: #5A97F7;
        font-size: 14px;
        color: #FFFFFF;
    }

    .commonsetting-content {
        margin-top: 20px;
        font-size: 14px;
        color: #333333;

        .commonsetting-call-items,
        .commonsetting-privacy-items {

            >div:nth-child(1) {
                margin-top: 20px;
            }
            >div:nth-child(2) {
                margin-top: 10px;
            }
            >div>span:nth-child(1) {
                color: #5A97F7;
            }
        }
    }
}
