@charset "UTF-8";

.noticesetting-page {
    display: flex;
    height: 100%;
    flex-direction: column;

    .notice-tools-bar {
        margin-top: 20px;
    }
    .notice-content {
        border: 1px solid #EBEBEB;
        flex-grow: 1;
        margin-top: 14px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .notice-list-title {
            height: 40px;
            background: #5A97F6;
            color: #fff;
            flex-shrink: 0;

            >span:nth-child(4) {
                cursor: pointer;

                >span {
                    border-bottom: 1px solid;
                }
            }
        }
        .notice-list {
            overflow-y: scroll;
        }
        .notice-list-item {
            height: 48px;
            border-bottom: 1px solid #EBEBEB;
            color: #333333;

            &:nth-child(even) {
                background: #FFF8CF;
            }
        }

        .notice-list-item,
        .notice-list-title {
            display: flex;
            align-items: center;

            >span {
                flex-shrink: 0;
                padding-left: 10px;
            }
            >span:nth-child(1) {
                width: 130px;
                padding-left: 40px;
                display: flex;
                align-items: center;
            }
            >span:nth-child(2) {
                flex-basis: 510px;
                flex-grow: 1;
                flex-shrink: 1;
            }
            >span:nth-child(3) {
                width: 200px;
            }
            >span:nth-child(4) {
                width: 140px;
            }
            >span:nth-child(5) {
                width: 121px;
            }
        }
        .sortable img {
            cursor: move;
        }

        .btn-notice-del {
            height: 34px;
        }
    }
}

.add-notice-content {
    width: 620px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        resize: none;
    }

    .add-notice-title {
        font-size: 18px;
        color: #333333;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .add-notice-input {
        width: 540px;
        height: 128px;
    }
    .add-notice-tools {
        display: flex;
        width: 100%;
        margin-top: 37px;
        flex-direction: row-reverse;

        .btn-no-border {
            margin-right: 40px;
        }
        .btn-iot-primary {
            margin-right: 50px;
        }
    }
}
