@charset "UTF-8";

.sweepgun-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sweepgun-filter-bar {
        margin-top: 20px;
    }
}

.sweepgun-select {
    height: 34px;
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 20px;
}

.sweepgun-content {
    flex-grow: 1;
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;

    .sweepgun-content-title,
    .sweepgun-content-item {
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
        border-bottom: 1px solid #EBEBEB;

        >span {
            display: inline-block;
            padding-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:nth-child(1) {
                width: 60px;
                margin-left: 30px;
            }
            &:nth-child(2) {
                width: 120px;
            }
            &:nth-child(3) {
                width: 180px;
            }
            &:nth-child(4) {
                width: 120px;
            }
            &:nth-child(5) {
                width: 220px;
            }
            &:nth-child(6) {
                width: 180px;
            }
            &:nth-child(7) {
                flex-basis: 222px;
                flex-shrink: 1;
            }
        }

        .btn-sweepgun {
            width: 70px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #42A7E7;
            border-radius: 3px;
            font-size: 14px;
            color: #5A97F6;
            cursor: pointer;

            &:hover {
                background: #d5dee4;
            }

            &.btn-sweepgun-disable {
                border: 1px solid #97DCFF;
                color: #97DCFF;
                cursor: not-allowed;
                &:hover {
                    background: none;
                }
            }
        }
    }

    .sweepgun-content-title {
        background: #5A97F6;
        color: #FFFFFF;
        flex-shrink: 0;
    }

    .sweepgun-content-container {
        overflow-y: scroll;
    }

    .sweepgun-content-item {
        &:nth-child(even) {
            background: #FFF8CF;
        }
    }
}
