<div class="commonsetting-page">
    <div class="setting-nav-bar">
        当前位置：系统设置>通用设置
    </div>
    <div class="setting-title">
        <span class="title-symbol"></span>呼叫方式
    </div>
    <div class="commonsetting-content">
        呼叫开启
        <input bs-switch ng-model="settingConfig.callSwitch" type="checkbox" switch-size="small" switch-on-text="开启" switch-off-text="关闭" switch-on-color="my-color" switch-animate="{{switchAnimated}}" ng-true-value="'1'" ng-false-value="'0'" ng-change="saveConfig()">
        <div class="commonsetting-call-items" ng-show="settingConfig.callSwitch==='1'">
            <div ng-repeat="calltype in callTypes" ng-click="selectType(callTypes,calltype.type,calltype.value)">
                <span ng-class="calltype.isSelected?'icon-icon-radiobox-active-custom':'icon-icon-radiobox-normal-custom'"></span>
                <span>{{calltype.text}}</span>
                <span>{{calltype.desp}}</span>
            </div>
        </div>
    </div>
    <div class="setting-title">
        <span class="title-symbol"></span>隐私设置
    </div>
    <div class="commonsetting-content">
        隐私设置
        <input bs-switch ng-model="settingConfig.hideSwitch" type="checkbox" switch-size="small" switch-on-text="开启" switch-off-text="关闭" switch-on-color="my-color" switch-animate="{{switchAnimated}}" ng-true-value="'1'" ng-false-value="'0'" ng-change="saveConfig()">
        <div class="commonsetting-privacy-items" ng-show="settingConfig.hideSwitch==='1'">
            <div ng-repeat="hidetype in hideTypes" ng-click="selectType(hideTypes,hidetype.type,hidetype.value)">
                <span ng-class="hidetype.isSelected?'icon-icon-radiobox-active-custom':'icon-icon-radiobox-normal-custom'"></span>
                <span>{{hidetype.text}}</span>
                <span>{{hidetype.desp}}</span>
            </div>
        </div>
    </div>
</div>
