<div class="setting-page">
    <div class="left-side">
        <ul class="menu">
            <li class="level1-menu">
                <span class="icon icon-icon-setup-custom level2-icon"></span>系统设置
                <span class="arrow icon-icon-arrow-right level2-icon icon-arrow" ng-class="{ 'icon-icon-arrow-down': mainMenu.isSelected, 'icon-icon-arrow-right': !mainMenu.isSelected }"></span>
            </li>
            <li ng-repeat="menu in menus" ui-sref="{{menu.state}}" ng-class="{'menu-active':menu.isSelected}">
                {{menu.name}}
            </li>
        </ul>
    </div>
    <div class="setting-content">
        <div class="btn-side" ui-sref="main.call">返回</div>
        <div style="height:100%" ui-view></div>
    </div>
</div>
