<div class="operate-page">
    <div class="operate-crumb">
        <span>当前位置：运营>banner列表</span>
    </div>
    <div class="operate-search">
        <button class="button-general" ng-click="batchdelete()">
            批量删除
        </button>
    </div>
    <div class="table-position">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <td>
                    <div ng-click="selectAll()" class="index-layout">
                        <div ng-show="isSelectAll()" class="icon-icon-checkbox-active-custom"></div>
                        <div ng-show="!isSelectAll()" class="icon-icon-checkbox-normal-custom"></div>
                        <span>序号</span>
                    </div>
                </td>
                <td>名称</td>
                <td>描述</td>
                <td>资源</td>
                <td>链接地址</td>
                <td>banner位</td>
                <td>状态</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="operate in operateList track by $index">
                <td>
                    <div ng-click="select(operate.banner_id)" class="index-layout">
                        <div ng-show="operate.isSelected" class="icon-icon-checkbox-active-custom"></div>
                        <div ng-show="!operate.isSelected" class="icon-icon-checkbox-normal-custom"></div>
                        <span>{{(pageParam.currentPage-1) * 10+$index+1}}</span>
                    </div>
                </td>
                <td>
                    {{operate.banner_name}}
                </td>
                <td>
                    {{operate.banner_description}}
                </td>
                <td>
                    <div class="source-size">
                        <img src="{{operate.banner_source}}" height="75px" width="100px">
                    </div>
                </td>
                <td>
                    {{operate.ref_address}}
                </td>
                <td>
                    {{operate.bposition_name}}
                </td>
                <td>
                    {{operate.bstatus_name}}
                </td>
                <td>
                    {{operate.banner_mktime}}
                </td>
                <td>
                    <div>
                        <button class="button-general" ng-click="changeState(operate.banner_id)" ng-show="operate.bstatus_name == '停用中'">
                            启用
                        </button>
                        <button class="button-general-simple" ng-click="changeState(operate.banner_id)"  ng-show="operate.bstatus_name == '启用中'">
                            停用
                        </button>
                        <button class="button-general" ng-click="delete(operate.banner_id)">
                            删除
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-position">
            <ky-pagination total-pages="pageParam.totalPage" cur-page="pageParam.currentPage"
                           update-func="getList(num)">
            </ky-pagination>
        </div>
    </div>
</div>

