<div class="call-page">
    <div class="right-side col-lg-6 col-lg-push-6">
        <div class="call-board">
            <div class="call-board-title">
                <img src="images/call/call_logo.png">呼叫记录
            </div>
            <div class="call-board-content">
                <div class="call-board-panel" ng-if="callBeds.length">
                    <div class="call-card-box" ng-repeat="call in callBeds track by $index">
                        <div class="call-card">
                            <div class="call-card-bedno"><span>{{call.bedNo}}</span><span>床</span></div>
                            <div class="call-card-detail">
                                <div class="call-card-line1">
                                    <span>{{call.patName}}</span>
                                    <span ng-class="call.isHandled ? 'call-card-line1-handle':''">
                                        {{call.isHandled ? nurseStationDesp : (call.callTime | timeFormatCN)}}
                                    </span>
                                </div>
                                <div class="call-card-line2">
                                    <span ng-repeat="callCard in call.nurseCardList | limitTo:2 track by $index">{{callCard.cardName}}</span>
                                </div>
                                <div class="call-card-line3">
                                    {{call.patInDiagnose}}
                                </div>
                                <div class="call-card-line4">
                                    {{call.staffName}}
                                </div>
                                <div class="call-card-handle">
                                    <div class="call-handle-call" ng-hide="call.isHandled" ng-click="handleCall(call)">
                                        <img src="images/call/call_btn.png">
                                    </div>
                                    <div class="call-handle-handle" ng-show="call.isHandled">
                                        <img src="images/call/process_white.png">
                                    </div>
                                </div>
                            </div>
                            <span class="call-card-num">
                                {{call.callCount}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="call-board-more-call" ng-if="callBedsMore.length">
                    <div class="call-more-box" ng-repeat="callMore in callBedsMore">
                        <div class="call-more-card">
                            <div class="call-more-bedno">
                                <span>{{callMore.bedNo}}</span>
                                <span>床</span>
                            </div>
                            <div class="call-more-detail">
                                <div class="call-more-line1">{{callMore.patName}}</div>
                                <div class="call-more-line2">
                                    <span>{{callMore.patInDiagnose}}</span>
                                    <span>
                                        {{callMore.callTime | timeFormat}}
                                    </span>
                                </div>
                            </div>
                            <div class="call-more-btn" ng-click="handleCall(callMore,callMore.isHandled)">
                                <span class="call-split-line"></span>
                                <div class="call-more-call" ng-hide="callMore.isHandled">
                                    <img src="images/call/call_btn_more.png">
                                </div>
                                <div class="class-more-handle" ng-show="callMore.isHandled">
                                    <img src="images/call/process_green.png"> {{nurseStationDesp}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="call-board-nocall" ng-if="!callBeds.length">— 暂无呼叫 —</div>
                <div class="call-board-nomorecall" ng-if="!callBedsMore.length">— 无更多呼叫 —</div>
            </div>
        </div>
    </div>
    <div class="left-side col-lg-6 col-lg-pull-6">
        <div class="bulletin-board">
            <div class="bulletin-board-title">
                <img src="images/call/bullet_logo.png">公告栏
            </div>
            <div class="bulletin-board-content">
                <!--  热烈庆祝本院上线京颐智能床旁系统，助力本院打造智慧病房样板，为患者朋友提供更安全、更便捷的服务。 通过患者床旁平板，可及时获取住院相关信息和宣教内容，且完全免费，请放心使用。 -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="notice in noticesList" ng-class="{'active': $index===0}">
                            {{notice.content}}
                        </div>
                        <div class="item active" ng-if="noticesList.length === 0">
                            热烈庆祝本院上线京颐智能床旁系统，助力本院打造智慧病房样板，为患者朋友提供更安全、更便捷的服务。 通过患者床旁平板，可及时获取住院相关信息和宣教内容，且完全免费，请放心使用。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="patient-board">
            <div class="patient-board-title">
                <span class="icon icon-icon-patient-custom"></span>
                <span class="patient-board-name">病床状态</span>
                <div class="btn-refresh" ng-click="refresh()">刷新</div>
            </div>
            <div class="patient-board-content">
                <div ng-repeat="nurse in nursesAndPatients track by $index">
                    <div class="nurse_label">
                        <span>{{nurse.staffName?nurse.staffName:'无管床护士'}}</span>
                    </div>
                    <div class="patient-card-container">
                        <div class="patient-card-box" ng-repeat="patient in nurse.bedInfoList track by $index">
                            <div class="patient-card" ng-class="patient.isActive?'active':''">
                                <div class="patient-card-title">
                                    <span class="patient-bed-no">{{patient.bedNo}}床</span>
                                    <span class="patient-name">{{patient.patName}}</span>
                                </div>
                                <ul class="patient-card-conent">
                                    <li ng-repeat="card in patient.nurseCardList | limitTo:2 track by $index"><span></span>{{card.cardName}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-side" ui-sref="main.setting.sweepgun">
        设置
    </div>
</div>
