<div class="optimal-page">
    <div class="optimal-title">硬件呼叫调试系统</div>
    <div class="optimal-tools">
        <span>病区名称</span>
        <ui-select class="sweepgun-select" ng-model="selected.ward" search-enabled="false" on-select="getRoutes()">
            <ui-select-match>
                <span ng-bind="$select.selected.wardName"></span>
            </ui-select-match>
            <ui-select-choices repeat="ward in (wardList | filter: $select.search) track by $index">
                <span ng-bind="ward.wardName"></span>
            </ui-select-choices>
        </ui-select>
        <span>扫码枪ID</span>
        <ui-select class="sweepgun-select" ng-model="selected.scanner" search-enabled="false" on-select="getRoutes()">
            <ui-select-match>
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="scanner in (scannerList | filter: $select.search) track by $index">
                <span ng-bind="scanner"></span>
            </ui-select-choices>
        </ui-select>
        <div class="btn-refresh" ng-click="refresh()">刷新</div>
    </div>
    <div class="optimal-content">
        <div class="optimal-content-title">
            <span>序号</span>
            <span>病区名称</span>
            <span>扫码枪ID</span>
            <span>床号</span>
            <span>dbm（由高到低）</span>
        </div>
        <div class="optimal-container">
            <div class="optimal-item" ng-repeat="route in routes">
                <span>{{$index+1+(page.curPage-1)*page.pageSize}}</span>
                <span>{{getWardName(route.wardNo)}}</span>
                <span>{{route.scanner}}</span>
                <span>{{route.bedNo}}</span>
                <span>{{route.dbm}}</span>
            </div>
        </div>
    </div>
    <div class="optimal-footer" ng-show="routes.length > 0">
        <ky-pagination is-disabled="false" total-pages="page.pages" cur-page="page.curPage" update-func="getRoutes(num)">
        </ky-pagination>
    </div>
</div>
