@charset "UTF-8";
.call-page {
    height: 100%;
    position: relative;

    .left-side,
    .right-side {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .left-side {
        padding: 7px 15.5px 10px 29px;

        .bulletin-board {
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            min-height: 106px;
            background: #FFF6DC;
            box-shadow: 0px 1px 1px 0px rgba(51, 62, 108, 0.10);
            border-radius: 6px;
            padding: 6px 10px 8px;
        }

        .bulletin-board-title {
            display: flex;
            align-items: center;
            color: #5894F1;
            font-size: 16px;
            letter-spacing: 1px;
            flex-shrink: 0;

            img {
                margin-left: 13px;
                margin-right: 12px;
            }
        }

        .bulletin-board-content {
            flex-grow: 1;
            margin-top: 4px;
            padding: 7px 20px;
            background: #FFFFFF;
            box-shadow: 0px 1px 2px 0px rgba(179, 171, 171, 0.40);
            border-radius: 6px;
            font-size: 18px;
            color: #666666;
            letter-spacing: 0px;
            line-height: 26px;
        }

        .patient-board {
            flex-grow: 1;
            padding: 5px 0;
            background: #F5F9FF;
            border-radius: 6px;
            margin-top: 9px;
            display: flex;
            flex-direction: column;
        }

        .patient-board-title {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #5A97F6;
            letter-spacing: 1px;
            flex-shrink: 0;

            .icon {
                font-size: 24px;
                margin-left: 20px;
                margin-right: 10px;
            }

            .btn-refresh {
                background: #5A97F6;
                border-radius: 5px;
                font-size: 14px;
                color: #FFFFFF;
                height: 24px;
                padding: 2.5px 16px;
                cursor: pointer;
                margin-right: 20px;

                &:hover {
                    background: #AA97F6;
                    border-color: #AA97F6;
                }

                &:active {
                    background: #7A97F6;
                    border-color: #7A97F6;
                }
            }

            .patient-board-name {
                flex-grow: 1;
            }
        }

        .patient-board-content {
            overflow-y: scroll;
            margin-top: 10px;
            padding-bottom: 2px;

            >div {
                margin-top: 16px;
            }

            >div:nth-child(1) {
                margin-top: 0;
            }

            .nurse_label {
                display: inline-block;
                margin-left: 10px;
                background: url('../images/call/nurse_label.png') center no-repeat;
                width: 102px;
                height: 22px;
                padding-left: 12px;
                padding-right: 23px;
                font-size: 14px;
                color: #666666;
                letter-spacing: 0px;

                span {
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
            .patient-card-container {
                display: flex;
                padding-right: 20px;
                flex-flow: row wrap;

                .patient-card-box {
                    width: 25%;
                }

                @media (max-width: 580px) {
                    .patient-card-box {
                        width: 50%;
                    }
                }

                @media (max-width: 400px) {
                    .patient-card-box {
                        width: 100%;
                    }
                }

                .patient-card {
                    height: 90px;
                    background: #FFFFFF;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-left: 20px;

                    &.active {
                        border: 4px solid #FFA952;
                        border-radius: 8px;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                    }

                    .patient-card-title {
                        height: 26px;
                        background: #5A97F6;
                        border-radius: 5px 5px 0 0;
                        color: #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            display: inline-block;
                        }
                    }
                    .patient-bed-no {
                        font-size: 18px;
                        letter-spacing: -0.33px;
                        flex-shrink: 0;
                        margin-left: 3px;
                    }
                    .patient-name {
                        font-size: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 5px;
                    }

                    .patient-card-conent {
                        padding-top: 2.5px;
                    }

                    .patient-card-conent li {
                        padding: 2.5px 10px;
                    }

                    .patient-card-conent span {
                        width: 5px;
                        height: 5px;
                        background: #4A90E2;
                        border-radius: 5px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .right-side {
        padding: 6px 27px 10px 15.5px;


        .call-board {
            flex-grow: 1;
            background: #FFF8CF;
            border: 1px solid rgba(209, 227, 253, 0.50);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
        }

        .call-board-title {
            font-size: 16px;
            color: #5A97F6;
            letter-spacing: 1px;
            height: 30px;
            line-height: 30px;

            img {
                vertical-align: sub;
                margin-left: 31px;
                margin-right: 12px;
            }
        }

        .call-board-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: 4px;

            .call-board-nocall,
            .call-board-nomorecall {
                background: #F3F6F8;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: #5A97F6;
                flex-grow: 1;
            }

            .call-board-nocall {
                flex-grow: 1;
            }
            .call-board-nomorecall {
                margin-top: 8px;
                height: 196px;
            }

            .call-board-panel {
                display: flex;
                padding-right: 32px;
                padding-left: 8px;
                flex-flow: row wrap;
                flex: 0 0 330px;

                @media (max-width: 580px) {
                    padding-bottom: 3px;
                    overflow-y: scroll;
                }

                .call-card-box {
                    width: 50%;
                    padding-left: 20px;
                    margin-top: 9px;
                }

                @media (max-width: 580px) {
                    .call-card-box {
                        width: 100%;
                    }
                }

                .call-card {
                    height: 156px;
                    display: flex;
                    background: #FFFFFF;
                    box-shadow: 0px 1px 2px 0px rgba(129, 118, 118, 0.50);
                    border-radius: 6px;
                    position: relative;
                }
                .call-card-bedno {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 64px;
                    background: #FFED7C;
                    font-size: 26px;
                    color: #463F3F;
                    letter-spacing: 0px;
                    line-height: 34px;
                    border-radius: 6px 0 0 6px;
                    flex-shrink: 0;
                }


                .call-card-detail {
                    flex-grow: 1;
                    position: relative;
                    overflow: hidden;
                }

                .call-card-num {
                    position: absolute;
                    top: -4px;
                    display: inline-block;
                    right: -4px;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    background: #5A97F6;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
                    text-align: center;
                    line-height: 30px;
                    font-size: 16px;
                    color: #FFFFFF;
                }

                .call-card-handle {
                    position: absolute;
                    display: inline-block;
                    width: 56px;
                    height: 48px;
                    background: url(../images/call/call_btn_bg.png) center no-repeat;
                    background-size: contain;
                    right: 0;
                    bottom: 0;
                    cursor: pointer;

                    &:hover {
                        background: url(../images/call/call_handle_bg.png) center no-repeat;
                        background-size: contain;
                    }

                    &:active {
                        opacity: 0.8;
                    }

                    img {
                        width: 23px;
                        height: 24px;
                        position: absolute;
                        right: 10px;
                        bottom: 7px;
                    }
                    .call-handle-call {
                        height: 100%;
                    }

                    .call-handle-handle {
                        width: 56px;
                        height: 48px;
                        background: url(../images/call/call_handle_bg.png) center no-repeat;
                        background-size: contain;
                        cursor: not-allow;
                    }

                    .call-handle-handle img {
                        width: 20px;
                        height: 15px;
                        bottom: 15px;
                        right: 11px;
                    }
                }

                .call-card-line1 {
                    margin-top: 10px;
                    margin-left: 20px;
                    margin-right: 31px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        white-space: nowrap;
                    }

                    span:nth-child(1) {
                        font-size: 28px;
                        color: #666666;
                        letter-spacing: -0.51px;
                    }

                    span:nth-child(2) {
                        font-size: 14px;
                        color: #2A2A2A;
                    }

                    span.call-card-line1-handle {
                        color: #5A97F6;
                    }
                }

                .call-card-line2 {
                    margin-left: 15px;
                    margin-right: 26px;
                    margin-top: 4px;
                    font-size: 14px;
                    color: #666666;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    height: 25px;

                    span {
                        border: 1px solid #979797;
                        border-radius: 100px;
                        padding: 1.5px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .call-card-line3 {
                    font-size: 18px;
                    color: #FF4C4C;
                    letter-spacing: -0.33px;
                    padding-left: 25px;
                    margin-top: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .call-card-line4 {
                    position: absolute;
                    bottom: 10px;
                    padding-left: 20px;
                    font-size: 14px;
                    color: #666666;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 70%;
                }
            }
            .call-board-more-call {
                margin-top: 16px;
                padding-left: 8px;
                padding-right: 31px;
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                flex-flow: row wrap;
                overflow-y: scroll;

                .call-more-box {
                    width: 50%;
                    padding-left: 20px;
                    padding-top: 10px;
                }

                @media (max-width: 580px) {
                    .call-more-box {
                        width: 100%;
                    }
                }

                .call-more-card {
                    height: 90px;
                    background: #FFFFFF;
                    box-shadow: 2px 0px 2px 0px #EBEBEB, 0px 1px 2px 0px #EAE8E8;
                    border-radius: 6px;
                    display: flex;
                }

                .call-more-bedno {
                    flex-shrink: 0;
                    width: 60px;
                    background: #FFEFBE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: #463F3F;
                    letter-spacing: 0px;
                    line-height: 24px;
                    flex-direction: column;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                .call-more-detail {
                    flex-grow: 1;
                    overflow: hidden;
                }

                .call-more-line1 {
                    margin-top: 12px;
                    margin-left: 20px;
                    font-size: 28px;
                    color: #666666;
                    letter-spacing: 0px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .call-more-line2 {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 26px;
                    margin-right: 10px;

                    span {
                        white-space: nowrap;
                    }

                    span:nth-child(1) {
                        font-size: 18px;
                        color: #FF4C4C;
                        letter-spacing: -0.33px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    span:nth-child(2) {
                        font-size: 16px;
                        color: #666666;
                    }
                }


                .call-more-btn {
                    width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    flex-shrink: 0;

                    &:hover {
                        background: #FFEFBE;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }

                    &:active {
                        opacity: 0.8;
                    }

                    .call-split-line {
                        height: 70%;
                        width: 1px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 15px;
                        background: #DCDCDC;
                    }

                    .class-more-handle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-left: 4px;
                        padding-right: 4px;
                        font-size: 14px;
                        color: #8DE187;

                        img {
                            width: 21px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}
